@page "/auth"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize(Roles = "Admin")]
@rendermode InteractiveAuto

<PageTitle>Auth</PageTitle>

<h1>You are authenticated</h1>

<AuthorizeView>
    Hello @context.User.Identity?.Name!
</AuthorizeView>

<AuthorizeView Roles="Admin">
    <h3>You are an Admin!</h3>
</AuthorizeView>
